@font-face {
  font-weight: 400;
  font-family: "PixelFont";
  src: url("./PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "fusion-pixel-zh";
  src: url("./fusion-pixel-zh.woff2") format("woff2");
}

.pixel-en,
.pixel-en * {
  font-family: "PixelFont", monospace;
}

.pixel-zh,
.pixel-zh * {
  font-family: "fusion-pixel-zh", monospace;
}