@font-face {
  font-family: "PixelFont";
  src: url("./PressStart2P-Regular.ttf") format("truetype");
}

a,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
input,
textarea,
select,
option,
label {
  font-family: "PixelFont", monospace;
}